body {
    background-color: lightblue;
}
// footer
.footer {
    background-color: #1c2336;
    color: #fff;
    // @include break();
    // display: grid;
    // grid-template-columns: repeat(5, 1fr);
}